<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitorForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MonitorForms.Properties.Settings>
            <setting name="ScudPanelWidth" serializeAs="String">
                <value>221</value>
            </setting>
            <setting name="DataGridViewWidthPanel" serializeAs="String">
                <value>648</value>
            </setting>
        </MonitorForms.Properties.Settings>
    </userSettings>
</configuration>